<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228187093845-bih5q6btkkjv717sjfbl4rnqsptrmlc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228187093845-bih5q6btkkjv717sjfbl4rnqsptrmlc3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>228187093845-mrficn5r3vah7r6gm18s0jj0740907ql.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCawzMnOMdAz45KHLz8q_UOUuQOsWYRYt8</string>
	<key>GCM_SENDER_ID</key>
	<string>228187093845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>wenimal-d4779</string>
	<key>STORAGE_BUCKET</key>
	<string>wenimal-d4779.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228187093845:ios:ac14f208aec21796ad8ddc</string>
</dict>
</plist>